<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-eResturantWebSite-ae18ea89-3209-4f61-b80e-e4a45dd643e4;AttachDbFilename=|DataDirectory|\aspnet-eResturantWebSite-ae18ea89-3209-4f61-b80e-e4a45dd643e4.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="EatIn" 
       connectionString="Data Source=.; Initial Catalog=eRestaurant; Integrated Security=SSPI"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>